{% extends "app/base.html" %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row justify-content-center align-items-center">
            <h3>Welcome {{request.user.username|capfirst}}</h3>
            {% comment %} <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href=""></a></li>
                </ul>
            </div> {% endcomment %}
            <div class="col-sm-5 offset-sm-1">
                <form action="" method="post" novalidate class="shadow p-5">
                    {% csrf_token %}
                    {% for fm in form %}
                        {{fm.label_tag}} {{fm}} <small class="text-danger"> {{fm.errors|striptags}} </small>
                        <br>
                    {% endfor %}
                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                    {% if form.non_field_errors %}
                        {% for e in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{e}}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock main-content %}