{% extends "app/base.html" %}
{% load static %}

{% block title %}Contact Us{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <!-- Page Header -->
    <div class="row">
        <div class="col text-center">
            <h1>Contact Us</h1>
            <p class="lead">We would love to hear from you. Get in touch with us through the contact information provided.</p>
        </div>
    </div>

    <!-- Contact Information -->
    <div class="row my-4">
        <div class="col-md-4 text-center">
            <i class="bi bi-geo-alt-fill" style="font-size: 2rem;"></i>
            <h5 class="mt-2">Address</h5>
            <p>AIT, Soladevanahalli<br>Bengaluru, Karnataka, 560107</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="bi bi-telephone-fill" style="font-size: 2rem;"></i>
            <h5 class="mt-2">Phone</h5>
            <p>+91 6203739217</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="bi bi-envelope-fill" style="font-size: 2rem;"></i>
            <h5 class="mt-2">Email</h5>
            <p>ahzamsaba3052@gmail.com</p>
        </div>
    </div>

    <!-- Contact Form -->
    

    
</div>
{% endblock main-content %}
