{% extends "app/base.html" %}
{% load static %}

{% block title %}Password Reset Successfully{% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-sm-6 col-md-4 text-center">
                <div class="card shadow p-5">
                    <div class="card-body">
                        <h3 class="card-title mb-4">Password Reset Successfully!</h3>
                        <!-- Checkmark GIF -->
                        <img src="{% static 'app/images/giphy.webp' %}" alt="Success" class="img-fluid mb-4">
                        <!-- Success Message -->
                        <p>Your password has been reset successfully.</p>
                        <!-- Redirect or back to profile button -->
                        <a href="{% url 'profile' %}" class="btn btn-primary">Go to Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}
